<div class="">
    <div
        class="flex flex-col items-center justify-center flex-auto h-full p-6 sm:p-10"
    >
        <div
            class="mt-12 text-4xl font-extrabold"
        >
            Ooops... 404!
        </div>
        <div
            class="mt-2 text-lg font-medium tracking-tight text-center text-secondary md:text-xl"
        >
            The page you requested could not be found.
        </div>
        <a
            class="mt-12 font-medium underline"
            [routerLink]="['/']"
        >
            Back to Home
        </a>
    </div>
</div>
