<div class="flex flex-col items-center flex-auto w-full h-full min-w-0 p-4 bg-white md:shadow md:p-8 rounded-2xl">
  <div class="flex w-full h-full px-4 py-2">
    <div class="flex flex-col w-full h-full mx-auto max-w-80 sm:mx-0 sm:w-80">
      <div class="w-12">
        <img src="https://i.pinimg.com/736x/d7/01/28/d70128f665c0687a491a0bef962b4e72.jpg" />
      </div>

      <div class="mt-4 text-4xl font-extrabold leading-tight tracking-tight">
        Sign in
      </div>
      <div class="mt-0.5 flex items-baseline font-medium">
        <div>Don't have an account?</div>
        <a class="ml-1 text-blue-500 hover:underline" [routerLink]="['/sign-up']">Sign up
        </a>
      </div>

      @if (error$ | async; as error) {
      <div class="flex items-center w-full px-4 py-3 mt-6 text-red-700 bg-red-100 border border-red-300 rounded">
        <span class="text-sm">{{ error }}</span>
      </div>
      }

      <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">
        <mat-form-field class="w-full">
          <mat-label>Email address</mat-label>
          <input id="email" matInput [formControlName]="'email'" />
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input id="password" matInput type="password" [formControlName]="'password'" #passwordField />
          <button mat-icon-button type="button" (click)="
                            passwordField.type === 'password'
                                ? (passwordField.type = 'text')
                                : (passwordField.type = 'password')
                        " matSuffix>
            @if (passwordField.type === 'password') {
            <mat-icon fontIcon="visibility"></mat-icon>
            }
            @if (passwordField.type === 'text') {
            <mat-icon fontIcon="visibility_off"></mat-icon>
            }
          </button>
          <mat-error> Password is required </mat-error>
        </mat-form-field>

        <button class="w-full mt-6 fuse-mat-button-large" mat-flat-button [color]="'primary'"
          [disabled]="(loading$ | async) || signInForm.invalid" (click)="signIn()">
          @if (!(loading$ | async)) {
          <span>Sign in</span>
          }
          @if (loading$ | async) {
          <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
          }
        </button>
      </form>
    </div>
  </div>
</div>
